<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite to drbot_health_website_backup" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="/drbot_health_website_backup/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="drbot_health_website_backup/index.php" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>